.bk-pageTop{
	margin-top:-200px;
	height:80%;
	min-height:600px;
	/*max-height:855px;*/

}

.bk-pageTop > div{
	padding-top:80px
}

.navbar-nav li{
	height:auto!important;
}
.bk-page-home{
	height:100%;
	min-width:1665px;
	max-height: 856px;
	position:relative;
	padding-bottom:50px
}

.bk-page-home h2{
	font-size:36px;
	color:#B6B6B6
}

.bk-recommedGif{
	width:240px;
	height:100px;
	overflow:hidden;
	position:absolute;
	left:50%;
	top:20px;
	margin-left:-420px;
	z-index:1200
}

.bk-recommedGif a{
	width:100%;
	height:100%;
	display:block;
	text-indent:-999em;
	background-size:100% auto
}

.bk-homeMarket{
	margin-bottom:70px;
	font-family:Arial, "Microsoft YaHei", sans-serif
}

.bk-homeMarket .item{
	padding:0 30px;
	border-right:1px solid rgba(224, 222, 221, 0.27);
	text-align:left;
	width:200px;
	display:inline-block;
	margin:0;
	cursor:pointer
}

.bk-homeMarket .item:last-child{
	border-right:0
}

.bk-homeMarket .item h4{
	font-size:14px;
	color:#99ABB7;
	padding-left:8px;
	margin-top:0
}

.bk-homeMarket .item p{
	font-size:36px;
	margin-bottom:0;
	line-height:1
}

.bk-themeWord h4{
	font-size:72px;
	margin-bottom:70px
}

.bk-themeWord h2{
	font-size:36px;
	color:rgba(235, 235, 235, 0.74);
	word-spacing:2px;
	letter-spacing:2px;
	margin-bottom:20px
}

.bk-themeWord p{
	font-size:14px;
	color:rgba(255, 255, 255, 0.74);
	margin-bottom:70px
}

.bk-homeMarket .iconfont{
	font-size:18px;
	vertical-align:middle;
	margin-left:10px;
	position:relative
}

.bk-homeMarket .iconfont.icon-arrowdown{
	-webkit-animation:magic-arrow-down 1.7s infinite ease;
	-o-animation:magic-arrow-down 1.7s infinite ease;
	-moz-animation:magic-arrow-down 1.7s infinite ease;
	-ms-animation:magic-arrow-down 1.7s infinite ease;
	animation:magic-arrow-down 1.7s infinite ease
}

.bk-homeMarket .iconfont.icon-arrowup{
	-webkit-animation:magic-arrow-up 1.7s infinite ease;
	-o-animation:magic-arrow-up 1.7s infinite ease;
	-moz-animation:magic-arrow-up 1.7s infinite ease;
	-ms-animation:magic-arrow-up 1.7s infinite ease;
	animation:magic-arrow-up 1.7s infinite ease
}

@keyframes magic-arrow-down{
	0%{
		top:-15px;
		opacity:0
	}
	30%{
		opacity:1
	}
	100%{
		top:10px;
		opacity:0
	}
}

@-webkit-keyframes magic-arrow-down{
	0%{
		top:-15px;
		opacity:0
	}
	30%{
		opacity:1
	}
	100%{
		top:10px;
		opacity:0
	}
}

@-o-keyframes magic-arrow-down{
	0%{
		top:-15px;
		opacity:0
	}
	30%{
		opacity:1
	}
	100%{
		top:10px;
		opacity:0
	}
}

@-moz-keyframes magic-arrow-down{
	0%{
		top:-15px;
		opacity:0
	}
	30%{
		opacity:1
	}
	100%{
		top:10px;
		opacity:0
	}
}

@-ms-keyframes magic-arrow-down{
	0%{
		top:-15px;
		opacity:0
	}
	30%{
		opacity:1
	}
	100%{
		top:10px;
		opacity:0
	}
}

@keyframes magic-arrow-up{
	0%{
		top:5px;
		opacity:0
	}
	30%{
		opacity:1
	}
	100%{
		top:-20px;
		opacity:0
	}
}

@-webkit-keyframes magic-arrow-up{
	0%{
		top:5px;
		opacity:0
	}
	30%{
		opacity:1
	}
	100%{
		top:-20px;
		opacity:0
	}
}

@-o-keyframes magic-arrow-up{
	0%{
		top:5px;
		opacity:0
	}
	30%{
		opacity:1
	}
	100%{
		top:-20px;
		opacity:0
	}
}

@-moz-keyframes magic-arrow-up{
	0%{
		top:5px;
		opacity:0
	}
	30%{
		opacity:1
	}
	100%{
		top:-20px;
		opacity:0
	}
}

@-ms-keyframes magic-arrow-up{
	0%{
		top:5px;
		opacity:0
	}
	30%{
		opacity:1
	}
	100%{
		top:-20px;
		opacity:0
	}
}

.bk-anime-bg{
	position:absolute;
	left:0;
	top:0;
	min-width:1010px;
	min-height:100%;
	width:100%;
	height:auto;
	z-index:-1;
	background-image:url("/static/chbtc/home/img/stock-bg-a.jpg");
	background-repeat:no-repeat;
	background-size:cover
}

.bk-anime-bg:after{
	content:"";
	display:block;
	width:100%;
	height:100%;
	background-color:rgba(0, 0, 0, 0.5);
	position:absolute;
	top:0;
	left:0
}

.bk-anime-bg #bk-videoBg{
	position:absolute;
	left:0;
	top:-10%;
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	overflow:hidden
}

.bk-homeLogin .form-group{
	margin:10px 5px
}

.bk-homeLogin .form-control{
	font-size:14px;
	min-width:228px;
	border-radius:4px !important
}

.bk-homeLogin input::-webkit-input-placeholder{
	color:#C3C8CC
}

.bk-homeLogin input:-moz-placeholder{
	color:#C3C8CC
}

.bk-homeLogin .btn, .bk-anyEq .btn{
	background-color:#1a81d6;
	font-weight:bold;
	min-width:200px
}

.bk-homeLogin .btn:hover, .bk-anyEq .btn:hover{
	background-color:#3385ff;
	font-size:18px
}

.bk-homeAdmin .btn{
	margin:0 10px;
	min-width:230px
}

.bk-exchange-stock{
	height:400px;
	background-color:#FFF;
	padding:30px 0
}

.bk-stock-price p{
	line-height:30px;
	font-size:16px;
	color:#333
}

.bk-anyEq{
	text-align:left;
	padding:80px 0 30px;
	background-color:#F5F5F5
}

.bk-anyEq .eqRight > h3{
	padding-top:60px;
	font-size:24px;
	color:#5F6363
}

.bk-anyEq p{
	font-size:12px;
	color:#5F6363
}

.bk-anyEq .eqLeft img{
	width:500px;
	height:auto
}

.bk-anyEq .download{
	padding-top:30px
}

.bk-anyEq .download .btn{
	text-transform:none;
	float:left;
	height:80px;
	padding:14px 15px;
	margin-bottom:10px;
	color:#FFF;
	min-width:150px;
	font-size:16px;
	line-height:25px;
	white-space:nowrap !important
}

.bk-anyEq .download .btn .fa{
	float:left;
	height:100%;
	line-height:50px
}

.bk-anyEq .download img{
	float:left;
	height:80px;
	width:auto;
	margin:0 5px 10px
}

.bk-introduce{
	padding:50px 0;
	background-color:#FFF
}

.bk-introduce .bk-ico{
	margin-top:50px;
	width:100px;
	height:100px;
	background-size:auto 100%
}

.bk-introduce h4{
	font-size:12px;
	color:#49596F;
	line-height:1.8em
}

.bk-introduce h3{
	font-size:24px;
	color:#434A55
}

.bk-introduce p{
	font-size:12px;
	color:#8A93A0
}

.bk-introduce.partner{

	background-size:cover
}

.bk-introduce.partner a{
	display:block;
	position:relative;
	top:0;
	height:100%;
	padding-top:30px;
	-ms-transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-webkit-transition:all .2s ease-in;
	-o-transition:all .2s ease-in;
	transition:all .2s ease-in
}

.bk-introduce.partner a:hover{
	top:-15px
}

.bk-introduce.partner .container{
	padding-left:40px;
	padding-right:40px
}

.bk-introduce.partner .col-xs-4{
	height:100px;
	border:1px solid #EEE;
	border-right:0;
	border-bottom:0;
	background-color:rgba(255, 255, 255, 0.5);
	-ms-transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-webkit-transition:all .2s ease-in;
	-o-transition:all .2s ease-in;
	transition:all .2s ease-in
}

.bk-introduce.partner .col-xs-4:hover{
	background-color:rgba(255, 255, 255, 1)
}

.bk-introduce.partner .col-xs-4:nth-child(3), .bk-introduce.partner .col-xs-4:nth-child(6){
	border-right:1px solid #EEE
}

.bk-introduce.partner .col-xs-4:nth-child(4), .bk-introduce.partner .col-xs-4:nth-child(5), .bk-introduce.partner .col-xs-4:nth-child(6){
	border-bottom:1px solid #EEE
}

.bk-homeNews{
	background-color:#FFF;
	padding:30px 0
}

.bk-homeNews .hd{
	border-bottom:1px solid #DDD;
	margin:0 10px 20px;
	padding:0 10px
}

.bk-homeNews .hd h3{
	font-size:24px;
	color:#1a81d6;
	font-weight:bold;
}

.bk-homeNews .hd a{
	font-size:14px;
	color:#8A93A0;
	margin-top:30px
}
.bk-homeNews .hd a:hover{
	color:#1a81d6;
}



.bk-homeNews .bd li{
	text-align:left;
	line-height:35px;
	padding-left:30px;
	position:relative
}


.bk-homeNews .bd li a:hover{
	color:#1a81d6;
}

.fa-angle-double-right{
	color:#1a81d6;
	font-weight:bold;
}
.bk-homeNews .bd li:after{
	/*content:"";*/
	/*width:5px;*/
	/*height:5px;*/
	/*border-radius:50%;*/
	/*background-color:#999;*/
	/*display:block;*/
	/*position:absolute;*/
	/*left:10px;*/
	/*top:15px*/
}

.bk-homeNews .bd li a{
	font-size:14px;
	height: 35px;
	display: block;
	overflow: hidden;
	width: 200px;
	color:#49596F;
	float:left;
	text-overflow:ellipsis;
	white-space:nowrap
}

.bk-firendLink{
	background-color:#FFF;
	padding:0 0 30px
}

.bk-firendLink .hd{
	border-bottom:1px solid #DDD;
	margin:0 10px 20px;
	padding:0 10px
}

.bk-firendLink .hd h3{
	font-size:24px;
	color:#1a81d6;
	font-weight:bold;
}

.bk-firendLink .fd{
	text-align:left;
	margin-bottom:20px;
	padding:0 15px 0 25px
}

.bk-firendLink .fd li{
	float:left;

	margin:20px 11px;
	white-space:nowrap !important;
	position:relative
}

.bk-firendLink .fd li:after{
	content:"";
	display:block;
	width:5px;
	height:5px;
	position:absolute;
	left:0;
	top:10px;

}

.bk-firendLink .fd li a{
	color:#999
}

.countdown{
	margin-top:30px;
	margin-bottom:30px;
	min-height:72px;
	display:inline-block;
	font:66px/72px Helvetica;
	color:#FFF
}

.countdown i{
	font-style:normal
}

.countdown li{
	position:relative;
	border:1px solid #DE211D;
	margin-right:8px;
	float:left
}

.countdown li:nth-last-child(3n+1){
	margin-right:20px
}

.countdown li, .countdown li span, .countdown li i{
	display:inline-block;
	width:60px;
	height:72px;
	text-align:center;
	line-height:72px
}

.countdown li span{
	position:absolute;
	top:0;
	left:0;
	background:#DE211D
}

.countdown li span i{
	position:absolute;
	top:0;
	left:0
}

.countdown li span.t, .countdown li span.b{
	height:36px;
	overflow:hidden
}

.countdown li span.b{
	top:auto;
	bottom:0;
	border-top:1px solid #FB8282;
	z-index:5
}

.countdown li span.b i{
	top:-36px
}

.countdown li span:nth-child(2), .countdown li span:nth-child(4){
	z-index:5
}

.countdown li span:nth-child(2){
	transform-origin:bottom
}

.countdown li span:nth-child(4){
	transform-origin:top;
	-webkit-transform:rotateX(-90deg);
	-moz-transform:rotateX(-90deg);
	-ms-transform:rotateX(-90deg);
	-o-transform:rotateX(-90deg);
	transform:rotateX(-90deg)
}

.countdown li.flip span:nth-child(2){
	-webkit-animation:flip .25s linear forwards;
	-moz-animation:flip .25s linear forwards;
	-ms-animation:flip .25s linear forwards;
	-o-animation:flip .25s linear forwards;
	animation:flip .25s linear forwards
}

.countdown li.flip span:nth-child(4){
	-webkit-animation:flip_d .25s linear .23s forwards;
	-moz-animation:flip_d .25s linear .23s forwards;
	-ms-animation:flip_d .25s linear .23s forwards;
	-o-animation:flip_d .25s linear .23s forwards;
	animation:flip_d .25s linear .23s forwards
}

@keyframes flip{
	0%{
		transform:rotateX(0deg)
	}
	100%{
		transform:rotateX(90deg)
	}
}

@keyframes flip_d{
	from{
		transform:rotateX(-90deg)
	}
	to{
		transform:rotateX(0deg)
	}
}

@-webkit-keyframes flip{
	0%{
		-webkit-transform:rotateX(0deg)
	}
	100%{
		-webkit-transform:rotateX(90deg)
	}
}

@-webkit-keyframes flip_d{
	from{
		-webkit-transform:rotateX(-90deg)
	}
	to{
		-webkit-transform:rotateX(0deg)
	}
}

@-moz-keyframes flip{
	0%{
		-moz-transform:rotateX(0deg)
	}
	100%{
		-moz-transform:rotateX(90deg)
	}
}

@-moz-keyframes flip_d{
	from{
		-moz-transform:rotateX(-90deg)
	}
	to{
		-moz-transform:rotateX(0deg)
	}
}

/*common*/

