.none{ display:none;}
.left { float:left;}
.right { float:right;}
.clearfix::after { content:''; clear:both; display:block; height:0; overflow:hidden;visibility:hidden;}
.clearfix { zoom:1;}
.ellipsis { overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.warn_info{ background-color:#fffaf4;line-height:25px; padding:5px 8px; margin:0px; color:#ff6000!important}
.notice_info{background-color:#fbfbfb; padding:5px; margin:5px 0px;}

.middleBtn{ display:block; cursor: pointer; border-radius:6px; font-size:16px; height:30px;line-height:30px; text-align:center; color:#fff; background:#f63;padding:5px 8px}
.middleBtn:hover{ background:#e65c2e; color:white;}
.lineBtn{ width:78px; height:28px; border-radius:2px; border:1px solid #f63; line-height:28px; vertical-align:middle; color:#f63; display:inline-block}
.lineBtn:hover{ background:#f63; color:#fff; border-radius:2px}

.error_notice{ color:red}
.blue_link a{ color:#38b3ff; display:inline-block; vertical-align:middle;}
.blue_link a:hover{color:#f63; text-decoration:none;}

.mt20{ margin-top:20px;}
.pr10{padding-right:10px;}
.pt20{ padding-top:20px;}
.color333{ color:#333;}
.color_green{ color:#090;}
.color_red{ color:#ee3523;}
.noLine{ border-bottom:none !important;}

.coin img{ width:22px; height:22px; vertical-align:middle; margin-right:6px;}
.coin span{ vertical-align:middle;}
.coin2 img{ float:left; width:32px; height:32px; vertical-align:middle; margin:5px -40px 0 30px; _display:inline;}
.coin2 p{ text-align:center; line-height:40px;}


html,body { height:100%;}
.w1200{ width:1200px; margin:0 auto; overflow:hidden;}
.wrapper{ min-height:100%; _height:100%;}
.wrapper .container{ padding-bottom:50px; margin-bottom:0; background:#fafafa;}
.container .content{ width:1200px; margin:0 auto; overflow:hidden; padding-bottom: 10px;}
.footerBox{ margin-top:-290px;}

/* header */
.headerBox{ width:100%; background-color:rgba(255,255,255,0.85); border-bottom:1px solid #e6e6e6}
.topbarBox{ height:32px; background:#282828; overflow:hidden; font-family:simsun;}
.topbar{ width:1200px; margin:0 auto; line-height:32px; color:#bebebe; font-size:0;}
.topbar b{ margin-right:15px; font-size:12px;}
.topbar a,
.topbar strong{ vertical-align:middle; display:inline-block; font-size:12px; color:#bebebe;padding:0px 4px;}
.topbar a.phone{ padding-left:22px; background:url(../img/phone.png) no-repeat left center; color:#999; margin-right:37px;}
.topbar a:hover{color:#666; background-color:white;text-decoration:none;}
.topbar i{ display:inline-block; width:1px; height:14px; background:#fff; margin:0 10px; vertical-align:middle;}

.headerCon{ height:68px; width:1200px; margin:0 auto;}
/*.logo{ width:260px; height:42px; line-height:99999em; overflow:hidden; float:left; margin:13px 173px 0 0; background:url(../img/logo.png) no-repeat;}*/
/*.logo a{ display: block;}*/

.headerNav{overflow:hidden; float:left; margin-top:13px;}
.headerNav a{ font-size:18px; float:left; margin-right:40px; line-height:40px; height:40px; color:#666;}
.headerNav a:hover,
.headerNav a.cur{border-bottom:4px solid #f63; color:#f63;}

.headerCon .assets{ float:right; margin-top:17px; width:180px; height:34px; background:#f63; text-align:center; line-height:34px; color:#fff; font-size:14px;}

/* footer */
.footerBox{ background:#333; *height:290px;}
.footer{ width:1200px; margin:0 auto; height:260px; color:#999; padding-top:30px;}
.footerNav{ width:110px; float:left; padding-left:67px;}
.footerNav h3{ color:#fff; font-size:14px;}
.footerNav li,
.footerNav a{ color:#999; line-height:33px;}
.footerNav a:hover{ text-decoration:underline; }
.footer .contactUs{ width:382px;}
.footer .copyright{ clear:both; text-align:center; margin-top:10px; font-size:14px;}
.footer .copyright a{ color:#999;}
.footer .copyright a:hover{ text-decoration:underline; }
.footer .renzheng{ clear:both; text-align:center; margin-top:10px;}
.footer .renzheng img{float:left; margin-left:5px;}

/* title */
.vTitle{ height:20px; padding:10px 0; border-bottom:1px solid #ccc; font-size:0;}
.vTitle i{ display:inline-block; width:4px; height:20px; background:#eb533a; margin-right:10px; vertical-align:middle;}
.vTitle strong{ display:inline-block; margin-right:20px; font-size:16px; color:#333; vertical-align:middle; line-height:20px; cursor:pointer;font-weight:normal;}
.vTitle strong.cur{ color:#f63; cursor:default;}
.vTitle a{ font-size:16px;}

/* tab */
.vTab{ height:30px; padding:0px 0; border-bottom:1px solid #ccc; font-size:0;margin:10px 0px;}
.vTab i{ display:inline-block; width:4px; height:20px; background:#eb533a; margin-right:10px; vertical-align:middle;}
.vTab strong{ display:inline-block; margin-right:20px; font-size:16px; color:#333; vertical-align:middle; line-height:30px; cursor:pointer;font-weight:normal;}
.vTab strong.cur{ color:#f63; cursor:default; border-bottom:2px solid #f63; line-height:30px;}
.vTab a{ font-size:16px;color:#333}



/* vList */
.vList{ padding-top:10px;}
.vList li{ font-size:14px; height:24px;}
.vList li a{ color:#333; display:block; width:100%; height:24px; line-height:27px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.vList li a:hover{ color:#f63;}

.vMore{ display:block; height:40px; line-height:40px; text-align:center; color:#999; font-size:14px; background:#e6e6e6; margin-top:20px;}
.vMore:hover{ background:#eb533a; color:#fff;}

/* 首页 */
.banner{ width:100%; height:400px; overflow:hidden; position:relative;}
.banner ul{ width:100%; height:400px; position:relative;}
.banner li{ width:100%; height:400px; background-repeat:no-repeat; background-position:center top; position:absolute; top:0; left:0;cursor:pointer;}
.banner li.cur{ z-index:1;}
.banner .nums{ width:1000px; top:370px; position:absolute; left:50%; margin-left:-500px; text-align:center; z-index:99; font-size:0;}
.banner .nums a{ display:inline-block; margin:0 5px; width:10px; height:10px; background:#e6e6e6; border-radius:10px; line-height:9999em; overflow:hidden;}
.banner .nums .cur{ background:#e63217;}

.loginArea{ width:298px; height:350px; background:rgba(255,255,255, .8); font-size:14px; position: absolute; top:50px; left: 50%; margin-left: 300px; z-index: 999; padding:0 30px; background:#fff\0; *background:#fff;}
.loginArea h2{ line-height:26px; font-size:16px; padding-top:24px;}
.loginArea .txt{ width:212px; font-size:14px; padding:0 13px; border:1px solid #ccc; height:38px; line-height:38px; margin-top:14px; border-radius:3px;}
.loginArea .loginBtn{ display:block; border-radius:6px; font-size:16px; width:240px; height:40px; text-align:center; color:#fff; line-height:40px; margin:20px 0 10px; background:#f63;}
.loginArea .loginBtn:hover{ background:#e65c2e;}
.loginArea .otherLink a{ color:#333;}
.loginArea .otherLink a:hover{ text-decoration:underline;}

.slogan{ width:955px; margin:30px auto; overflow:hidden;}
.slogan li{ width:210px; float:left; text-align:center; padding:0 45px; font-size:14px; line-height:20px;}
.slogan li h3{ font-size:18px; padding:10px 0 10px;}

.aside {float: right; width:300px; overflow:hidden;}

/* 交易 */
.market { background:#fff; border:1px solid #e6e6e6; padding-top:0; margin-top:20px;}
.market li{ line-height:36px; height:36px; overflow:hidden; padding:0 10px;cursor:pointer;border-bottom:1px solid #e6e6e6; font-size:12px;}
.market li:hover{ background-color:#f7f7f7;}
/**.market li:nth-child(odd){ background:#f7f7f7;}**/
.market .coin{ float:left; width:130px;}
.market .price{ float:left; width:75px; text-align:right;}
.market .color_red, .market .color_green{ float:left; width:73px; text-align:right;}

.tradingSlogan{ padding:10px; margin-top:30px; border:1px solid #e6e6e6; background:#fff;}
.tradingSlogan li{ overflow:hidden; line-height:20px; padding-bottom:15px;}
.tradingSlogan li img{ width:44px; height:48px; float:left; margin:8px 8px 0 0;}
.tradingSlogan li h3{ font-size:14px;} 

.tradingBox { border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; height:46px; padding:20px 0;}
.tradingCon { width:1200px; margin:0 auto;}
.tradingBox .coinName{ width:300px;overflow:hidden; float:left; font-size:16px;}
.tradingBox .coinName img{ width:46px; height:46px; vertical-align:middle; margin-right:10px;}
.tradingBox .coinPrice{ width:160px; font-size:24px; float:left;}
.tradingBox ul{ float:left;}
.tradingBox ul li{ width:120px; float:left; text-align:center; font-size:14px;}
.tradingBox ul li p{ font-size:18px; line-height:1.1;}

.tradingCenter { overflow:hidden; margin-top:10px;}
.tradingCenter .buy{ width:415px; float:left;}
.tradingCenter .sell{ width:415px; float:right;}
.tradingCenter .sell .vTitle i{ background:#00bf7f;}
.tradingCenter .sell .vTitle strong.cur{ color:#00bf7f;}

.tradingForm{ font-size:14px; background:#fff; border:1px solid #e6e6e6; margin-bottom:10px;}
.tradingForm li { overflow:hidden; height:34px; line-height:34px;}
.tradingForm .financeAction{ height:auto;}
.tradingForm .label{ float:left; width:100px; text-align:right;}
.tradingForm .txt{width:212px; font-size:14px; padding:0 5px; border:1px solid #ccc; height:30px; line-height:30px; border-radius:3px;}
.tradingForm .color_red, .tradingForm .color_green{ font-size:16px; cursor:pointer;}
.tradingForm .formCon{}
.tradingForm .totalPrice{ width:110px; float:left;}

.tradingCenter .buyBtn, .tradingCenter .sellBtn { display:block; border-radius:6px; font-size:16px; width:200px; height:40px; text-align:center; color:#fff; line-height:40px; margin:10px 0 10px 100px; background:#f63;}
.tradingCenter .buyBtn:hover{ background:#e65c2e;}
.tradingCenter .sellBtn{ background:#00bf7f;}
.tradingCenter .sellBtn:hover{ background:#00b377;}

.tableBox2 table .financeLink a{ color:#38b3ff; display:inline-block; vertical-align:middle;}
.tableBox2 table .financeLink a:hover{color:#f63; text-decoration:none;}
.financeLink i{ height:14px; display:inline-block; width:0; border-left:1px solid #38b3ff; margin:0 9px; vertical-align:middle; overflow:hidden;}
.tableBox2 table .financeLink .transaction{ width:78px; height:24px; border-radius:2px; border:1px solid #f63; line-height:24px; vertical-align:middle; margin-left:20px; color:#f63;}
.tableBox2 table .financeLink .transaction:hover{ background:#f63; color:#fff;}

.financeTable{ padding-bottom:20px;}
.financeTable th{ background:#e6e6e6;}
.financeTable td{ padding:5px 0;}


.mainContent{ background:#fff;}
.charts { width:870px; background:#fff; margin-top:20px;}
.charts .btn{ width:78px; height:24px; border-radius:2px; border:1px solid #f63; line-height:24px; vertical-align:middle; margin-left:3px; color:#f63; background:#fff; cursor: pointer;}
.charts .btn:focus{outline-style: none;}
.charts .btn:hover{ background:#f63; color:#fff;}
.charts .curr{ background:#f63; color:#fff;}

/* 财务 */
.asideNav{ width:200px; float:left; overflow:hidden; padding-bottom:9999em; margin-bottom:-9999em; background:#fff; *padding-bottom:100px; *margin-bottom:0;}
.asideNav h2{ font-size:16px; font-weight:bold; color:#f63; height:46px; line-height:46px; padding-left:20px;}
.asideNav ul{ border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6;}
.asideNav li{ height:46px; line-height:46px; padding-left:65px; font-size:14px;}
.asideNav li a{ color:#666;}
.asideNav li:hover{ background:#ffece6;}
.asideNav .active{ background:#ffece6;}
.asideNav li a:hover{ color:#f63;}

.financeCenter{ width:940px; float:right; background:#fff; overflow:hidden; padding-left:20px; padding-right:20px; padding-bottom:9999em; margin-bottom:-9999em; *padding-bottom:0; *margin-bottom:0;}
.financeCenter .right_box{ padding:20px 10px; min-height:800px;}
.financeCenter .right_box p{line-height:30px;font-size:14px;}

.myFinance{ width:938px; border:1px solid #e6e6e6; overflow:hidden; margin:20px 0;}
.myFinance li{ width:312px; float:left; text-align:center; font-size:16px; border-right:1px solid #e6e6e6; padding:20px 0;}
.myFinance li.last{ border-right:none;}
.myFinance .center{ width:300px;}
.myFinance li p{ font-size:20px; line-height:1.4;}

/* 注册 */
.regBox{ width:1200px; margin:0 auto; overflow:hidden;}
.regBox .regCon{ width:800px; margin:0 auto; padding:60px 100px 80px; background:#fff; border:1px solid #e7e7e7; box-shadow: 0 1px 3px #e7e7e7;}
.step{ width:720px; margin:50px auto; height:52px;}


/* 表格 */
.tableBox table{ border:none; border-collapse:collapse; color:#333; background:#fff;}
.tableBox table th { background:#f1f1f1;}
.tableBox table td,
.tableBox table th { line-height:40px; font-size:14px; height:40px; text-align:center; font-weight:normal;}
.tableBox table tbody tr:nth-child(odd){ background:#f7f7f7;}
.tableBox table tr:hover td{ background:#f9f9f9;}
.tableBox table a{ color:#38b3ff}
.tableBox table a:hover{ text-decoration:underline; color:#f63}

.tableBox1 table{ border:none; border-collapse:collapse; color:#4d4d4d; background:#fff;}
.tableBox1 table th { background:#f5f5f5;border-bottom:1px solid #ddd;}
.tableBox1 table td,
.tableBox1 table th { line-height:40px; font-size:14px; height:40px; text-align:center; font-weight:normal;}
.tableBox1 table tr:hover td{ background:#f9f9f9;}
.tableBox1 table a{ color:#38b3ff}
.tableBox1 table a:hover{ text-decoration:underline; color:#f63}

/* 表格 */
.tableBox2 table{ border:none; border-collapse:collapse; color:#333; background:#fff;}
.tableBox2 table th { background:#f1f1f1;}
.tableBox2 table td,
.tableBox2 table th { line-height:40px; font-size:14px; height:40px; text-align:center; font-weight:normal;}
.tableBox2 table tbody tr:nth-child(odd){ background:#f7f7f7;}
/**.tableBox2 table tr:hover td{ background:#f9f9f9;}**/
.tableBox2 table a{ color:#38b3ff}
.tableBox2 table a:hover{ text-decoration:underline; color:#f63}

/** 带框的table **/
.tableBoxBorder { border: 1px solid #eee; width: 100%; margin-top: 20px;}
.tableBoxBorder tr td { border-top: 1px dotted #dcdcdc; border-left: 1px dotted #eee; padding: 0 0 0 10px; height: 40px;font-size: 14px;}
.tableBoxBorder tr td:first-child { border-left: none;}
.tableBoxBorder tr td span {color: #888;}


#market tbody tr {cursor: pointer;}
#market tr th, #market tr td {text-align: right; padding: 0 10px;}
#market tr th:first-child, #market tr td:first-child {text-align: left;}

.tradingTable table { border:1px solid #ddd}
.tradingTable table td,
.tradingTable table th { height:30px; line-height:30px; border-bottom:1px solid #ddd;} 
.tradingTable table .newLine{ font-weight:bold; background-color:#ffece6;border-bottom:1px solid #dff0d8; text-color:red}
.tradingTable table td { height:28px; line-height:28px; font-size:12px;}

.tableScroll{ overflow-y: auto; overflow-x: hidden;}
.tableScroll table {width: 100%;}

.table-col4 tr th, .table-col4  tr td {width: 25%; text-align: center}
.table-col4 tr th:nth-child(4), .table-co84  tr td:nth-child(4) {width: 20%;}

.table-col5 tr th, .table-col5  tr td {width: 20%; text-align: center}
.table-col5 tr th:nth-child(5), .table-co84  tr td:nth-child(5) {width: 20%;}

.table-col8 tr th, .table-col8  tr td {width: 12%; text-align: center}
.table-col8 tr th:last-child, .table-col8  tr td:last-child {width: 16%;}
/* 表单 */
.formBox{ width:800px; margin:0 auto;}
.formBox li{ padding-top:10px; overflow:hidden\0;}
.formBox li label{ height:50px; line-height:50px; float:left; font-size:16px; color:#a9a9a9; width:180px; margin-right:20px; text-align:right;}
.formBox li .formCon{ width:400px; float:left;}
.formBox li .formCon .txt{ width:360px; font-size:14px; padding:0 19px; border:1px solid #ccc; height:44px; line-height:44px; border-radius:0px;}
.formBox .disclaimer{ height:20px; line-height:20px; padding-left:200px; font-size:14px;}
.formBox .disclaimer a{ color:#f63;}
.formBox .disclaimer input{ vertical-align:-2px; margin-right:5px;}
.formBtn{ display:block; border-radius:5px; font-size:18px; width:400px; height:44px; text-align:center; color:#fff; line-height:44px; margin:0 0 0 200px; background:#f63;}
.formBtn{ background:#e65c2e;}

::-webkit-input-placeholder{ color:#b3b3b3;}
::-moz-placeholder{ color:#b3b3b3;}
::-ms-input-placeholder{ color:#b3b3b3;}


/*dialog 弹窗*/
.ui-dialog{padding:0px;z-index:9999;}
.ui-dialog-titlebar{border:1px solid #eb533a;border-radius:0px;background:#eb533a;}
.ui-dialog-content{font-size:14px;color:#000;text-align:center;}
.ui-dialog .ui-dialog-buttonpane{height:35px;}
.ui-dialog .ui-dialog-buttonpane button{height:30px;background:#eb533a;color:#fff;margin-left:30px;margin-right:-10px;}
.dialogNotice{font-size:14px;}
.dialogContent_one{font-size:16px;color:#333;margin-top:25px;}/*有提示时，弹窗里的内容样式1*/
.dialogContent_two{font-size:16px;color:#333;margin-top:38px;}/*没有有提示时，弹窗里的内容样式2*/
.dialogContent_thr{font-size:16px;color:#333;margin-top:30px;}

.ui-button-icon-only .ui-button-text {display: none}
.ui-dialog .ui-widget-header .ui-state-focus{border: none;}
.vDialog {padding: 0;border-radius: 0px}
.vDialog .ui-dialog-titlebar {border: 1px #eb533a; background-color: #eb533a;background-image: none;border-radius: 0px}
.vDialog .ui-dialog-titlebar .ui-dialog-title {border-radius: 0px}
.vDialog .ui-dialog-titlebar .ui-dialog-titlebar-close {border-radius: 0px}
.vDialog .ui-dialog-content {padding: 0px}
.vImgDialog .ui-dialog-content {padding: 2px}
.vImgDialog .ui-dialog-titlebar-fullscreen {right: 2.3em; border-radius:2px; border-color: #f6f6f6; display: none}
.vImgDialog .ui-dialog-titlebar .ui-dialog-titlebar-close {border-radius: 2px}
.vNoTitleDialog .ui-dialog-titlebar {display: none;}
.vNoTitleDialog .ui-dialog-content {padding: 4px; overflow: hidden;}

/*.v-tips {width: 100%;text-align:center;font-size:16px;position: fixed; left: 0px; top: 0px;}*/
.v-tips {vertical-align: middle; border-radius: 8px}
.v-tips .ui-dialog-titlebar {display: none}
.v-tips .ui-dialog-titlebar .ui-dialog-title {}
.v-tips .ui-dialog-titlebar .ui-dialog-titlebar-close {}
.v-tips .ui-dialog-content {font-size:16px;overflow: hidden;background-color: rgba(0,0,0,.5);color:#fff;text-align: center;line-height: 24px; min-height: 24px; padding: 12px 20px}
.v-tips i{display:inline-block;width:24px;height:24px;vertical-align:top;/*background: url("../images/tip.png") no-repeat;*/}
.vFrameDialog .ui-dialog-content {overflow: hidden;padding: 0px;}

.rechargeBox h3{ font-size:18px; color:#999; margin-bottom:18px;}
.rechargeBox h3 span{ margin-left:90px;}
.reChargeCon { overflow:hidden; margin-right:-25px; font-size:0;width:720px;}

.reChargeCon a img{ margin:15px auto 0; height:28px;}

.rechargeBox .input{ width:338px; height:44px; border:1px solid #e6e6e6; margin-bottom:18px; font-size:16px; color:#999;}
.rechargeBox .input input{ padding-left:10px; height:44px; vertical-align:middle; font-size:16px; width:290px; line-height:44px; border:none; border:0; background:none;}
.rechargeBox .input span{ display:inline-block; line-height:44px; vertical-align:middle;}

.listBox .list_header {height: 24px; line-height: 24px; background-color: #e6e6e6;margin-top: 20px; padding: 5px; font-size: 14px;}
.listBox .list_main {margin-top: 10px; background-color: #e6e6e6; padding: 10px;}


/**浮层提示插件 **/
/** growl **/
div.jGrowl {
    padding:            10px;
    z-index:            9999;
}
div.ie6 {
    position:           absolute;
}

/** Normal Style Positions **/
body > div.jGrowl {
    position:           fixed;
}

body > div.jGrowl.top-left {
    left:               0px;
    top:                0px;
}

body > div.jGrowl.top-right {
    right:              0px;
    top:                0px;
}

body > div.jGrowl.bottom-left {
    left:               0px;
    bottom:             0px;
}

body > div.jGrowl.bottom-right {
    right:              0px;
    bottom:             0px;
}

body > div.jGrowl.center {
    top:                0px;
    width:              50%;
    left:               25%;
}

/** Cross Browser Styling **/
div.center div.jGrowl-notification, div.center div.jGrowl-closer {
    margin-left:        auto;
    margin-right:       auto;
}

div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
    background-color:       #000;
    color:                  #fff;
    opacity:                .85;
    filter:                 alpha(opacity = 85);
    zoom:                   1;
    width:                  235px;
    padding:                10px;
    margin-top:             5px;
    margin-bottom:          5px;
    font-family:            Tahoma, Arial, Helvetica, sans-serif;
    font-size:              12px;
    text-align:             left;
    display:                none;
    -moz-border-radius:     5px;
    -webkit-border-radius:  5px;
}

div.jGrowl div.jGrowl-notification {
    min-height:             40px;
}

div.jGrowl div.jGrowl-notification div.header {
    font-weight:            bold;
    font-size:              10px;
}

div.jGrowl div.jGrowl-notification div.close {
    float:                  right;
    font-weight:            bold;
    font-size:              12px;
    cursor:                 pointer;
}

div.jGrowl div.jGrowl-closer {
    height:                 15px;
    padding-top:            4px;
    padding-bottom:         4px;
    cursor:                 pointer;
    font-size:              11px;
    font-weight:            bold;
    text-align:             center;
}

/**浮层插件结束 **/
/*分页样式开始*/
.pull-right {margin: 0 auto; overflow: hidden; width: 200px; margin-top: 10px;}
ul.pagination li {float: left; width: 60px; text-align: center;}
ul.pagination li:first-child {text-align: right; margin-right: 10px;}
ul.pagination li:last-child {text-align: left; margin-left: 10px;}
ul.pagination li a{color: #666; display: block; width: 100%;}
ul.pagination li a:hover{color: #f63;}

.tagBtn{ width:78px; height:30px; border-radius:15px; border:1px solid #f63; line-height:30px; vertical-align:middle; margin-left:20px; color:#f63; padding:6px;}
.tagBtn:hover{ background:#f63; color:#fff;}

.coininfo{ width:870px; background:#fff; margin-top:20px;min-height:800px;padding:20px 0px;}
.coininfo_table table td{ text-align:left;} 


.progress {
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1)
}

.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #428bca;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease
}

.progress-striped .progress-bar,.progress-bar-striped {
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px
}

.progress.active .progress-bar,.progress-bar.active {
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	-o-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite
}

.progress-bar-success {
	background-color: #5cb85c
}

.progress-striped .progress-bar-success {
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
}

.progress-bar-info {
	background-color: #5bc0de
}

.progress-striped .progress-bar-info {
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
}

.progress-bar-warning {
	background-color: #f0ad4e
}

.progress-striped .progress-bar-warning {
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
}

.progress-bar-danger {
	background-color: #d9534f
}

.progress-striped .progress-bar-danger {
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
}
.selectBox{
	width:400px;
	border:1px solid #ccc; 
	position:absolute; 
	overflow:hidden
}
.selectBox select{
	width:100%;
	height:44px;
	border:none;
	font-size:14px;
	color:#a9a9a9;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	padding-left:19px;

	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	margin:-1px;
}


/*index_a.css样式*/


.common-nav{
	border-bottom: none;
}
.index_pic_wrap{
	width:100%;
	height:400px;
	position:relative
}

.index_pic_box{
	width:100%;
	height:400px;
	overflow:hidden
}

.index_pic_box li{
	width:100%;
	height:400px
}

.assets_content a{
	text-decoration:none
}

.assets_content a:hover{
}

.my-carousel{
	position:relative;
	height:400px;
	width:100%
}

.my-carousel .my-carousel-inner{
	position:relative;
	height:100%
}

.my-carousel .my-carousel-inner .item{
	position:absolute;
	left:0;
	right:0;
	width:100%;
	height:100%;
	z-index:1;
	background-position:50% 50%;
}

.my-carousel .my-carousel-inner .item.active{
	z-index:2
}

.my-carousel .my-carousel-indicators{
	position:absolute;
	bottom:0px;
	z-index:3;
	position:absolute;
	left:40%;
	top:369px
}

.my-carousel .my-carousel-indicators li{
	float:left
}

.my-carousel-indicators li{
	display:block;
	float:left;
	margin-left:7px;
	text-indent:-999px;
	background-color:rgba(255, 255, 255, .5);
	width:12px;
	height:12px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px
}

.my-carousel .my-carousel-inner{
	position:relative;
	height:100%
}

.my-carousel-indicators li.active{
	background-color:#FFF
}

.login_wrap{
	position:absolute;
	left:50%;
	top:0;
	margin-left:-400px;
	border-radius: 8px;
}



.login_box{
	width:318px;
	height:328px;
	position:absolute;
	right:16px;
	top:36px;
	background:none;
	font-family:tahoma, Microsoft YaHei, Arial, Helvetica, sans-serif;
	color:#333
}

.login_bg{
	width:318px;
	height:328px;
	background:#FFF;
	opacity:0.7;
	filter:alpha(opacity=70);
	position:absolute;
	left:0;
	top:0
}

.login_box_1{
	padding-left:32px;
	padding-top:20px;
	height:308px;
	width:286px;
	position:relative;
	left:0;
	top:0
}

.login_box_2{
	padding-left:33px;
	padding-top:21px;
	position:absolute;
	left:0;
	top:0
}

.login_box_2 h2{
	line-height:30px;
	margin-bottom:14px;
	font-size:18px;
	color:#333;
	font-weight:normal
}

.login_box_2 dl{
	font-size:14px;
	color:#333;
	margin-bottom:11px
}

.login_box_2_btn{
	height:28px;
	margin-bottom:19px
}


.login_box_2 dt{
	height:22px;
	line-height:22px
}

.login_box_2 dd{
	height:30px;
	line-height:30px;
	overflow:hidden
}


.login_box_2 dd a:hover{
	text-decoration:underline
}

.login_title{
	height:30px;
	line-height:30px;
	font-size:18px;
	margin-bottom:19px
}

.login_text{
	width:250px;
	margin-bottom:15px;
	position:relative;
	font-size:12px
}



.prompt{
	position:absolute;
	left:0;
	top:40px;
	width:237px;
	padding-left:11px;
	height:25px;
	background:#FFF7D9;
	border:1px solid #F6D49F;
	color:#C00;
	line-height:25px
}



.login_link a:hover{
	text-decoration:underline
}



.user-info-block table{
	width: 100%;
	margin: auto;
	text-align: center;
	color: #ffffff;
	font-size: 13px;

}
.user-info-block table td,.user-info-block table tr{
	border: 1px rgba(255, 255, 255, 0.35) solid;
	height: 45px;
}
.user-info-fina{

	width: 100%;
	margin: auto;
}
.user-info-fina a{
	width: 112px;
	padding: 3px 14px;
	margin: 0 5px 0 0;
	border: 1px white solid;
	color: #ffffff;
	opacity: 0.8;
	border-radius: 3px;
}
.user-info-fina a:hover{
	color: #33ae58;
	border: 1px #33ae58 solid;

}

.index-reg-ico{
	border: 2px white solid;
	width: 18px;
	height: 18px;
	line-height: 18px;
	border-radius: 19px;
	font-size: 14px;
}

.data-content li {
	padding: 0 30px 0 0 !important;
}

.green {
	color: #1eae58;
}
.red {
	color: #ff5943;
}
.yellow {
	color: #ffdc18;
}
body {
	background: #eaedf4;
}
.banner-box {
	min-width: 1000px;
	height: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	position: relative;
}
.banner-content {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: #ccc;
}
.banner-list {
	width: 100%;
	height: 100%;
}
.banner-list li {
	width: 100%;
	height: 100%;
	position: absolute;
}
.banner-list li.active {
	z-index: 2;
}
.banner-list a {
	display: block;
	width: 100%;
	height: 100%;

	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.user-base {
	height: 140px;
	border-bottom: 1px dashed #b9babf;
	margin: 22px 26px;
}
.user-img {
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
}
.user-img img {
	width: 100%;
}
.user-base-sp {
	display: block;
	width: 175px;
	float: left;
	color: #ffffff;
	font-size: 16px;
	line-height: 35px;
	margin-left: 18px;
}
.user-base-sp a {
	color: #ffffff;
}
.user-base-sp a:hover {
	color: #1eae58;
}
.user-level {
	display: block;
	float: left;
	color: #ffffff;
	padding: 3px 7px;
	font-size: 12px;
	line-height: 12px;
	border: 1px solid #ffffff;
	border-radius: 3px;
	margin-left: 18px;
	margin-top: 5px;
}
.avt-banner .control-list {
	font-size: 24px;
}
.control-list span {
	margin: 0 6px;
	position: relative;
	cursor: pointer;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.control-list span.active,
.control-list span:hover {
	font-size: 35px;
	top: 1px;
}
.avt-banner .control-list span.active,
.avt-banner .control-list span:hover {
	font-size: 28px;
}
.banner-tag-box {
	width: 1000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 20;
}
@keyframes drop {
	0% {
		transform: translate(0, -400px);
		opacity: 0;
	}
	50% {
		transform: translate(0, 0);
	}
	70% {
		transform: translate(0, 20px);
	}
	84% {
		transform: translate(0, 0);
	}
	92% {
		transform: translate(0, 10px);
	}
}
@-webkit-keyframes drop {
	0% {
		-webkit-transform: translate(0, -400px);
		opacity: 0;
	}
	50% {
		-webkit-transform: translate(0, 0);
	}
	70% {
		-webkit-transform: translate(0, 20px);
	}
	84% {
		-webkit-transform: translate(0, 0);
	}
	92% {
		-webkit-transform: translate(0, 10px);
	}
}
.banner-tag {
	width: 340px;
	height: 350px;
	position: absolute;
	left: 640px;
	top: 26px;
	background: url(../img/user_data_bg.png) repeat;
	border-radius: 8px;
	animation: drop 0.8s 0s ease-in;
	-webkit-animation: drop 0.8s 0s ease-in;
}

.login-banner-tag ul {
	margin: 0 26px 26px;
	font-size: 14px;
	color: #ffffff;
}
.login-banner-tag strong {
	display: block;
	font-size: 35px;
	font-family: arial;
	color: #fff954;
}
.login-banner-tag .yellow:hover {
	color: #ffdc18;
}
.green-link-btn,
.transparent-link-btn,
.red-link-btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin: 20px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	background: #2cc5f5;
	border-radius: 4px;
	font-size: 16px;
	color: #ffffff;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.green-link-btn:hover,
.transparent-link-btn:hover,
.red-link-btn:hover {
	color: #ffffff;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.transparent-link-btn {
	background: transparent;
	border: 1px solid #ffffff;
	position: relative;
	margin-top: 10px;
}
.transparent-link-btn .icon-hot-tag {
	position: absolute;
	left: -3px;
	top: -2px;
}
.visitor-banner-tag {
	text-align: center;
}
.visitor-banner-tag ul {
	font-size: 14px;
	color: #ffffff;
	margin-top: 10px;
	margin-left: 20px;
}
.visitor-banner-tag ul strong {
	font-size: 24px;
	font-family: arial;
	color: #ffc893;
}

.topest-profit {
	font-size: 18px;
	text-align: center;
	color: #ffffff;
	margin-top: 42px;
}
.topest-profit strong {
	font-size: 100px;
	line-height: 70px;
	font-family: arial;
	color: #fff954;
}
.topest-profit sub {
	font-size: .5em;
	vertical-align: baseline;
}

.red-link-btn .icon-money {
	position: relative;
	top: 6px;
}
.login-now {
	color: #ffffff;
	font-size: 16px;
}
.login-now:hover {
	text-decoration: underline;
}
.increment {
	display: inline-block;
	text-align: right;
}
.increment em {
	margin: 0 3px;
}
.web-data {
	min-width: 1000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 55px;
	background: #f8f8f8;
	border-bottom: 1px solid #ededed;
}
.data-content {
	width: 1000px;
	height: 55px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.data-content .data-list {
	height: 25px;
	font-size: 14px;
	line-height: 25px;
	position: relative;
	top: 12px;
}
.app-download-qrcode {
	cursor: pointer;
	vertical-align: middle;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}
.app-download-qrcode:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.data-content li {
	float: left;
	min-width: 278px;
	text-align: center;
	padding: 0 30px;
	border-right: 1px dashed #7c7c7c;
	box-sizing: content-box;
}
.data-content .last-li {
	border-right: none;
}
.data-content .red {
	font-family: arial;
	font-size: 24px;
	line-height: 25px;
	font-weight: bold;
}
.safe-ensure {
	min-width: 1000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 210px;
	box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
	background: #ffffff;
}
.safe-ensure-content {
	width: 1000px;
	height: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.safe-ensure-list {
	float: left;
	text-align: center;
}
.safe-ensure-list li {
	float: left;
	width: 185px;
	margin-top: 45px;
	text-align: center;
	overflow: hidden;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.safe-ensure-list li.last-li {
	padding: 0 10px;
	margin-right: 55px;
}
.safe-ensure-list li:hover {
	margin-top: 25px;
}
.safe-ensure-list li:hover em {
	opacity: 1;
	filter: alpha(opacity=100);
	transform: scale(1);
	-webkit-transform: scale(1);
}
.safe-ensure-list li:hover .em-mask {
	transform: scale(0);
	-webkit-transform: scale(0);
	opacity: 0;
	filter: alpha(opacity=0);
}
.safe-ensure-list li:hover strong {
	margin-bottom: 0;
}
.safe-ensure-list em {
	width: 80px;
	height: 80px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../img/index/safe_ensure.png);
	background-repeat: no-repeat;
	position: relative;
	margin-top: -80px;
	z-index: 1;
	opacity: 0;
	filter: alpha(opacity=0);
	transform: scale(0);
	-webkit-transform: scale(0);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.safe-ensure-list p {
	width: 140px;
	font-size: 12px;
	color: #999999;
	text-align: center;
	line-height: 18px;
	margin: 15px auto 0 auto;
}
.safe-ensure-list strong {
	display: block;
	text-align: center;
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 45px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.safe-ensure-list .em-mask {
	margin-top: 0;
	z-index: 2;
	opacity: 1;
	filter: alpha(opacity=100);
	transform: scale(1);
	-webkit-transform: scale(1);
}
.bank-ensure {
	background-position: 0 0;
}
.bank-ensure-hover {
	background-position: 0 -104px;
}
.sunshine-ensure {
	background-position: -107px 0;
}
.sunshine-ensure-hover {
	background-position: -107px -104px;
}
.msg-ensure {
	background-position: -216px 0;
}
.msg-ensure-hover {
	background-position: -216px -104px;
}
.risk-ensure {
	background-position: -323px 0;
}
.risk-ensure-hover {
	background-position: -323px -104px;
}
.app-download {
	height: 180px;
	float: left;
	border-left: 1px solid #ededed;
	padding-left: 44px;
	padding-top: 30px;
	margin-top: 10px;
}
.app-download p {
	width: 160px;
	margin-left: 34px;
	font-size: 14px;
	line-height: 25px;
	float: left;
}
.app-download strong {
	font-size: 18px;
	color: #000000;
}
.app-download i {
	margin-right: 3px;
	position: relative;
	top: 3px;
	*top: 0;
}
.app-download .icon-android {
	margin-left: 20px;
}
.app-download-qrcode {
	display: block;
	width: 126px;
	height: 126px;
	float: left;

}

.more-about-app .icon-arrow-right {
	position: relative;
	top: 0;
	*top: -4px;
}
.tag-box {
	width: 1000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.tag-box .invest-tag {
	float: left;
}
.new-tag-list {
	height: 260px;
	margin-bottom: 20px;
}
.new-tag-list .tag-info {
	background-position: 0 0;
}
.tag-info {
	width: 310px;
	height: 100%;
	float: left;

	background-repeat: no-repeat;
}
.tag-info h3 {
	font-size: 30px;
	color: #ffffff;
	margin-left: 35px;
	margin-top: 25px;
}
.tag-info a {
	display: block;
	color: #ffffff;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.tag-info a:hover {
	transform: translate(5px, 0);
	-webkit-transform: translate(5px, 0);
}
.tag-info .icon-more-r {
	float: right;
	margin-right: 50px;
	margin-top: 11px;
}
.tag-info small {
	display: block;
	font-size: 16px;
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.invest-tag {
	width: 444px;
	height: 260px;
	text-align: left;
	background: #ffffff;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.invest-tag:hover {
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1) inset;
	transform: translate(0, -4px);
	-webkit-transform: translate(0, -4px);
}
.invest-tag p {
	width: 83%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 34px;
	font-size: 20px;
	color: #333333;
}
.invest-tag .tag-flag {
	display: inline-block;
	font-size: 12px;
	line-height: 20px;
	padding: 0 5px;
	color: #1eae58;
	border: 1px solid #1eae58;
	border-radius: 3px;
	vertical-align: middle;
}
.invest-tag ul {
	width: 83%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	color: #999999;
	margin-top: 20px;
}
.invest-tag li {
	float: left;
}
.invest-tag .tag-profit {
	position: relative;
}
.invest-tag .tag-date-limit {
	float: right;
	margin-top: 30px;
}
.invest-tag strong {
	font-family: arial;
	font-size: 30px;
	color: #ff5943;
}
.invest-tag sub {
	font-size: 24px;
	margin-left: 5px;
	vertical-align: baseline;
}
.invest-tag .vip-profit {
	display: block;
	width: 45px;
	height: 19px;
	position: absolute;
	right: -12px;
	top: 8px;
	text-align: center;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	line-height: 14px;
}
.tag-date-limit .red {
	font-family: arial;
	font-size: 30px;
}
.tag-date-limit .red em {
	font-size: 16px;
	font-family: "微软雅黑";
}
.invest-tag-bottom {
	width: 83%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
.invest-tag-bottom .invest-btn {
	display: block;
	width: 105px;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	border-radius: 4px;
	float: right;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.invest-tag-bottom .invest-btn:hover {
	color: #ffffff;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.invest-tag-bottom .invest-btn.disabled {
	background: #a4a4a4;
	cursor: default;
}
.tag-progress {
	float: left;
	width: 300px;
	height: 25px;
	position: relative;
	top: 5px;
}
.tag-progress .tag-progress-bar {
	width: 334px;
	left: 0;
	position: absolute;
	top: 50%;
	margin-top: -2px;
}
.tag-progress span {
	position: absolute;
	left: 340px;
}
.avt-list-box {
	width: 443px;
	height: 100%;
	overflow: hidden;
	float: right;
	position: relative;
}
.avt-banner {
	width: 100%;
	height: 126px;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	background: #ccc;
}
.avt-banner .control-list {
	bottom: 2px;
}
.avt-banner span {
	margin: 0;
}

.ads1{
	display: block;
	width: 100%;
	height: 50%;
	line-height: 124px;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	text-align: center;
	background: #ffffff;
}
.ads1 img {
	width: 443px;
	vertical-align: middle;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.ads1:hover img {
	transform: scale(1.06);
	-webkit-transform: scale(1.06);
}


.ads2{
	display: block;
	width: 100%;
	height: 50%;
	line-height: 124px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	text-align: center;
	background: #ffffff;
}
.ads2 img {
	width: 443px;
	vertical-align: middle;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.ads2:hover img {
	transform: scale(1.06);
	-webkit-transform: scale(1.06);
}


.hotest-tag-list {
	height: 260px;
	margin-bottom: 10px;
	overflow: hidden;
}
.hotest-tag-list .invest-tag-left {
	margin-right: 2px;
}
.hotest-tag-list .tag-info {
	background-position: 0 -270px;
}
.tag-list-transfer .tag-info {
	background-position: -330px 0;
}


.tag-list-transfer {
	position: relative;
	height: 300px;
	border-radius: 8px;
	box-shadow: 2px 2px 4px #d7dae0;
}
.tag-list-transfer .more-product {
	width: 890px;
}
.all-tag-list .tag-info {
	background-position: 0 -540px;
	position: relative;
}
.all-tag-list .tag-info-per {
	background-position: -330px -311px;
}

.hotest-tag-tab li {
	height: 33px;
	font-size: 16px;
	line-height: 33px;
	/*text-align: right;*/
	color: #ffffff;
	border: 1px solid #c2e2fc;
	border-right: none;
	border-radius: 3px 0 0 3px;
	text-indent: 10px;
	box-sizing: content-box;
	padding-right: 35px;
	margin-bottom: 10px;
	cursor: pointer;
	position: relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.tag-list-per .hotest-tag-tab li {
	border-color: #fff1c9;
}
.hotest-tag-tab li.active,
.hotest-tag-tab li:hover {
	border-color: #c2e2fc;
	background: #ffffff;
	color: #3498f4;
	font-weight: bold;
}
.tag-list-per .hotest-tag-tab li:hover,
.tag-list-per .hotest-tag-tab li.active {
	border-color: #ffffff;
	color: #f89f12;
}
.hotest-tag-tab em {
	display: block;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	text-align: center;
	text-indent: 0;
	font-size: 12px;
	color: #ffffff;
	line-height: 22px;
	background: #ff5943;
	position: absolute;
	top: 5px;
	right: 5px;
}


.all-tag-content-per .border-v {
	height: 250px;
}
.all-tag-content .invest-tag {
	margin-bottom: 1px;
	position: relative;
	z-index: 2;
}
.all-tag-content .invest-tag-left {
	margin-right: 2px;
}

.more-product {
	width: 100%;
	display: block;
	text-align: center;
	background: #ffffff;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 5;
}
.more-product a {
	font-size: 14px;
	color: #999999;
	line-height: 40px;
}
.more-product a:hover {
	text-decoration: underline;
	color: #999999;
}
.index_news {
	width: 1000px;
	height: 370px;
	background: #fff;
	box-shadow: 2px 2px 4px #d7dae0;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
}




.index_media {
	width: 682px;
	height: 360px;
	float: left;
	overflow: hidden;
}
.index_media_con {
	height: 305px;
	float: left;
}
.index_media_con1 {
	width: 315px;
	height: 305px;
	float: left;
}
.index_media_ul {
	height: 55px;
	line-height: 55px;
	border-bottom: 1px solid #e6e6e6;
}
.index_media_li {
	font-size: 18px;
	color: #666;
	float: left;
	height: 55px;
	line-height: 55px;
	text-align: center;
}

.index_media_li em {
	display: block;
	width: 23px;
	margin-right: -23px;
	*margin-top: -55px;
	font-size: 15px;
	color: #ededed;
	float: right;
	height: 55px;
	line-height: 55px;
	text-align: center;
}
.index_media_li1 {
	font-size: 14px;
	color: #ededed;
	color: #666;
	float: right;
	height: 55px;
	line-height: 55px;
	text-align: center;
}
.index_media_li1 a {
	display: block;
	width: 100%;
	height: 100%;
	color: #666;
}

.index_media_tab {
	width: 700px;
	height: 305px;
	animation: mall-dy 0.7s;
	-webkit-animation: mall-dy 0.7s;
	overflow: hidden;
}
.index_media_tab span {
	width: 330px;
	height: 155px;
	display: block;
	float: left;
	overflow: hidden;
	position: relative;
	margin-left: 0;
	margin-right: 20px;
}
.index_media_tab span img {
	width: 100%;
	height: 155px;
	float: left;
}
.index_media_tab span img:hover {
	animation: zoom 1s;
	-webkit-animation: zoom 1s;
}
.index_media_tab span em {
	display: block;
	width: 310px;
	min-height: 25px;
	line-height: 22px;
	padding-left: 10px;
	padding-right: 10px;
	color: #fff;
	overflow: hidden;
	background: #000;
	opacity: 0.7;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	position: absolute;
	bottom: 0;
	left: 0;
}
.index_media_span em a {
	color: #fff;
	font-size: 14px;
	text-align: left;
	display: block;
	width: 100%;
	height: 100%;
}
.index_media_ul1 {
	height: 117px;
	margin-top: 13px;
	font-size: 14px;
	float: left;
}
.index_media_ul1 li {
	height: 30px;
	line-height: 30px;
	float: left;
}
.index_media_li7 {
	width: 682px;
}
.index_media_gt {
	font-size: 13px;
	font-weight: bold;
	float: left;
	display: block;
	width: 18px;
	height: 30px;
	line-height: 30px;
}
.index_media_a {
	display: block;
	width: 480px;
	color: #666;
	float: left;
	text-align: left;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.index_media_ul1 li label {
	color: #999;
	display: block;
	width: auto;
	float: right;
	font-size: 12px;
}
.index_media1 {
	width: 410px;
}
.index_media_tab1 {
	width: 410px;
	animation: mall-dy 1s;
	-webkit-animation: mall-dy 1s;
}
.index_media_a1 {
	width: 270px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.index_media_ul3 {
	height: 35px;
	margin-top: 5px;
}
.index_media_ul3 li {
	margin-top: 10px;
}
.index_media_ul1 .icon-news,
.index_media_ul1 .icon-hots {
	margin-top: 8px;
	*vertical-align: middle;
	margin-left: 3px;
}
@keyframes zoom {
	30% {
		transform: scale(1.08);
	}
}
@-webkit-keyframes zoom {
	30% {
		-webkit-transform: scale(1.08);
	}
}
@keyframes mall-dy {
	from {
		margin-left: -20px;
		filter: alpha(opacity=0);
		-moz-opacity: 0;
		opacity: 0;
	}
	to {
		margin-left: 0px;
		filter: alpha(opacity=100);
		-moz-opacity: 1;
		opacity: 1;
	}
}
@-webkit-keyframes mall-dy {
	from {
		margin-left: -20px;
		filter: alpha(opacity=0);
		-moz-opacity: 0;
		opacity: 0;
	}
	to {
		margin-left: 0px;
		filter: alpha(opacity=100);
		-moz-opacity: 1;
		opacity: 1;
	}
}
.index_news1 {
	height: auto;
	padding-bottom: 20px;
}
.index_media_ul4 {
	width: 1130px;
}
.index_pernter_logo {
	width: 1160px;
	zoom: 1;
}
.index_pernter_logo:after {
	display: block;
	content: ' ';
	height: 0;
	clear: both;
}
.index_pernter_logo li {
	width: 137px;
	height: 53px;
	float: left;
	margin: 15px 14px 0 14px;
}
.index_pernter_logo li img {
	width: 137px;
	height: 53px;
	float: left;
	cursor: pointer;
}
.index_pernter_logo li img:hover {
	animation: zoom 1s;
	-webkit-animation: zoom 1s;
}
.index_media_li4 {
	width: 340px;
}
.header,
.common-nav,
.banner-box,
.web-data,
.safe-ensure,
.xz-bottom,
.xz-bottom .footer {
	min-width: 1200px;
}
.header-content,
.nav-bar,
.banner-tag-box,
.data-content,
.safe-ensure-content,
.tag-box,
.index_news,
.xz-bottom .xz-widget-body,
.xz-bottom .xz-widget-footer dl,
.xz-bottom .footer > div,
.right-fix-tools {
	width: 1200px;
}
.right-fix-tools {
	width: 100%\9;
}
.banner-tag {
	left: 860px;
}
.xz-bottom .bottom-left {
	width: 670px;
	margin-left: 35px;
}
.xz-bottom .bottom-center {
	padding: 0 35px;
}
.xz-bottom .bottom-right {
	margin-right: 35px;
}
.fix-tools-content {
	left: 1210px;
	left: auto\9;
}
@media (max-width: 1380px) {
	.right-fix-tools {
		width: 100%;
	}
	.fix-tools-content {
		left: auto;
	}
}

.guide-new {
	display: block;
	width: 95px;
	height: 40px;
	font-size: 16px;
	color: #ffffff;
	line-height: 34px;
	background: url(../img/index/right_bg.png) no-repeat;
	text-align: center;
	margin-right: -6px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.guide-new:hover {
	color: #ffffff;
	transform: translate(-5px, 0);
	-webkit-transform: translate(-5px, 0);
}


.invest-tag p {
	width: 83%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px !important;
	font-size: 20px;
	color: #333333;
	margin-bottom: 0;
}

.invest-tag ul {
	margin-top: 0px !important;
}

.tag-progress .tag-progress-finished {
	display: block;
	width: 0;
	height: 100%;
	background: #1eae58;
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.tag-progress .tag-progress-bar {
	display: block;
	height: 10px;
	background: #e4e4e4;
	left: 0;
	position: absolute;
	top: 50%;
	margin-top: -5px;
}
.tag-progress span {
	float: right;
	font-size: 14px;
	line-height: 25px;
}
.index-chart-block{
	position: relative;
	float: right;
	height: 30px;
	width: 250px;
	margin-right: -20px;
}
.index-chart-block .index-chart-block-trade{
	float: left;
	text-align: center;
	font-size: 14px;
	padding: 0 20px;
	height: 34px;
	line-height: 34px;
	color: #FFF;
	cursor: pointer;
	border-radius: 4px;

}


.index-chart-block-market{
	float: right;
	margin-top: 0;
	height: 33px;
	line-height: 33px;
}

.index-chart-block-market .fa-hand-o-right{
	font-size: 13px;top: 0px;margin-left: 5px;
}
.block_hot {
	position: relative;
	height: 100px;
}

.block_hot table {
	width: 80%;
	margin: auto;
	border: honeydew 1px solid;
	text-align: center;
}

.block_hot table tr,.block_hot table td {
	height: 45px;
	border: #eaeaea 1px solid;
}

.block_hot_notice {
	color: #ff5943;
	font-family: arial;
	font-size: 26px;
}
.index_btn_issue{
	float: right;
	margin-right: 9px;
	text-align: center;
	font-size: 14px;
	padding: 0 20px;
	/* width: 200px; */
	height: 34px;
	line-height: 34px;
	color: #FFF;
	cursor: pointer;
	border-radius: 4px;
	background-color: #17d0b1;
}
.index_btn_licai{
	float: right;
	margin-right: 9px;
	text-align: center;
	font-size: 14px;
	padding: 0 20px;
	/* width: 200px; */
	height: 34px;
	line-height: 34px;
	color: #FFF;
	cursor: pointer;
	border-radius: 4px;
	background-color: #825c85;
}
.index-licai-block{
	float: right;
	margin-right: 5px;
	text-align: center;
	font-size: 14px;
	padding: 0 20px;
	height: 34px;
	line-height: 34px;
	color: #FFF;
	cursor: pointer;
	border-radius: 4px;
	background-color: #825c85;
}
.index_btn_issue:hover{
	color:white;
	background-color: #52e4cc;
}
.index_btn_licai:hover{
	color:white;
	background-color: #ac83af;
}



/*new2.css*/



.trade_area{
	width:1200px;
	height:50px;
	margin:0 auto;

	background:#FFF;
}

.trade_area span a{
	width:81px;
	font-size:13px;
	margin-left:17px;
	line-height:50px;
	display:block;
	float:left;
	border-right:1px solid #CCC;

}


.trade_area span{
	float:left;
	height:50px;

	display:block;
}

.scurty{
	position:absolute;
	margin-top:44px;
	margin-left:506px;
	font-size:26px;
	color:#333;
	font-weight:600;
}

.scurty_total{
	position:relative;
	border-bottom:1px solid #D5D5D5;
	border-top:1px solid #D5D5D5;
	height:420px;
	margin:0 auto;
	background:#FFF;
	width:1200px;

}

.slogan{
	position:absolute;
	width:1201px;
	/* margin: 30px auto; */
	overflow:hidden;
	top:102px;
	left:-24px;
}
.slogan_foot{
	line-height: 1.7;
	width: 179px;
	margin-left: 2px;
	margin-top: 11px;
}

.slogan li{
	margin-left:80px;
	width: 210px;
	float: left;
	text-align: center;
	padding: 0 19px;
	font-size: 14px;
	line-height: 22px;
}

.links_total{
	padding-bottom:23px;
	margin:0 auto;
	background:#FFF;
	width:1200px;
	height:auto;
}

.links{
	margin-top:20px;
	padding-top:17px;
	margin-left:27px;

}

.links a{
	padding-bottom:11px;
	border-bottom:2px solid #1AA4D6;
	font-weight:500;
	font-size:20px;
	color:#000;
}

.links_img{
	margin-left:26px;
	margin-right:2px;
	margin-top:23px;
}

.links_img{

	transition-duration:1.5s;
	-moz-transition-duration:1.5s; /* Firefox 4 */
	-webkit-transition-duration:1.5s; /* Safari 和 Chrome */
	-o-transition-duration:1.5s;
}

.hover{

	transform:scale(1.2);
	-ms-transform:scale(1.2); /* IE 9 */
	-webkit-transform:scale(1.2); /* Safari 和 Chrome */
	-o-transform:scale(1.2); /* Opera */

}

a:hover{
	text-decoration:none;
}

.main_footer{
	width:1200px;
	margin-left:354px;
}

.main_left{
	float:left;
	width:853px;
}

.aside{
	width:332px;
}

.aside_list li{
	float:left;
}

.title{
	color:#000;
	border-bottom:1px solid #CCC;
	font-size:17px;
	margin-top:3px;

	height:36px;
}

.title_sm{
	margin-top:2px;
}

.title_sm a{
	font-size:13px;
}

.tilt_ul{
	line-height:2;

	height:25px;
}

.tilt_ul li{
	float:left;
}


.tit_left{
	width:245px;
	overflow:hidden;
	height:20px;
}

.tit_left a{
	color:#000;
}

.tit_right{
	margin-right:14px;
	float:right;
}

.tit_right a{
	color:#000;
}

.line{
	padding-left:8px;
	border-left:4px solid red;
}
.pt20{
	padding-top:0;
}
.coin span{
	color:#000;
}
.wrapper .container{
	padding-bottom: 35px;
	margin-bottom: 0;
	background:none;
}
.tableBox1 table a:hover{
	text-decoration: none;
}



